.navbar {
  position: fixed;
  z-index: 10;
  background-color: var(--navbar-desplegable-btn);
  clip-path: circle(25px at calc(100% - 50px) calc(0% + 40px));
  width: 100%;
  height: 100%;
  transition: clip-path 600ms ease-out;
}

.navbar-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 1.5s;
}
.toggle-btn {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: calc(0% + 29px);
  left: calc(100% - 62.5px);
  z-index: 12;
  width: 25px;
  padding: 0;
  height: 23px;
  justify-content: space-between;
  transition: all 2s;
  background-color: transparent;
}
.clip {
  clip-path: circle(136% at calc(100% - 50px) calc(0% + 40px));
}
.active .line1 {
  transform-origin: 0% 100%;
  transform: rotate(45deg);
}
.active .line2 {
  transform: scale(0);
}
.active .line3 {
  transform-origin: 0% 0%;
  transform: rotate(-45deg);
}
.line {
  width: 100%;
  height: 4px;
  border-radius: 25px;
  background-color: var(--navbar-toggle-lines-color);
  transition: all 0.4s;
}
.navbar-item button {
  background-color: transparent;
  color: var(--navbar-items-color);
  padding: 0;
  font-size: 1.5em;
}

@media (min-width: 1024px) {
  .button-container {
    transform: translateX(-100px);
    padding: 0 50px 0 0;
    cursor: pointer;
  }
  .button-container:hover .navbar-link {
    transform: translateX(25px);
    opacity: 1;
  }
  .navbar-link {
    opacity: 0.6;
    transition: all 0.6s ease;
  }
  .toggle-btn:hover {
    background-color: transparent;
  }
  .navbar-link:hover {
    background-color: transparent;
  }
}
