.about-title {
  color: #8ca7db;
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: 3px solid #8ca7db;
  width: fit-content;
  padding-bottom: 2.5px;
}
.about-container {
  padding: 40px 20px 20px;
}
.about-text-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-text-container h3 {
  color: #e164ff;
}
.about-text-container p {
  color: #aaa;
  font-weight: 600;
  font-size: 0.875em;
}

.about-skills-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.about-skills-container h2 {
  margin-top: 5px;
  color: #8ca7db;
}
.about-skills-container h3 {
  color: #e164ff;
  text-align: center;
  font-size: 1.5em;
}
.about-skills-container ul {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.about-skills-container li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color: #412243;
  border: 1px solid #e164ff;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  text-align: center;
  transition: all 0.4s;
}
.about-skills-container img {
    transition: all 0.4s;
  width: 50px;
  filter: invert(85%) sepia(100%) saturate(500%) hue-rotate(220deg)
    brightness(90%) contrast(90%);
}
.about-skills-container p {
  font-weight: 600;
  font-size: 0.875em;
}

@media (min-width: 1024px) {
  .about-skills-container li:hover {
    background-color: #612f64;
    /* width: 175px;
    height: 175px; */
    color: #fff;
    border-color: #fff;
  }
  .about-skills-container li:hover img {
    filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(220deg)
      brightness(90%) contrast(90%);
  }
}
