:root {
  --subtitle-color: #a7acb1;
}

.home-container {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}
.right-part {
  gap: 5px;
}
.home-title {
  text-align: center;
}
.home-subtitle {
  color: var(--subtitle-color);
}
.home-btn {
  margin-top: 5px;
}
.btn-link {
  border-radius: 100%;
}
.btn-link i {
  font-size: 1.25em;
}
.btn-container {
  margin: 5px 0;
}
.left-part {
}
.my-photo {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 0 10px 0px #ffffff60;
}
